.focal-overlay-button {
    width: calc(100% / 3 - 0.125rem);
    height: calc(100% / 3 - 0.125rem);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;

    &:hover:not(.selected) {
        background-color: rgba(255, 255, 255, 0.5);
    }

    &.selected {
        background-color: rgba(0, 0, 0, 0.5);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20%;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='iconmonstr' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cpolygon fill='white' id='check-mark-1' points='20.285,2 9,13.567 3.714,8.556 0,12.272 9,21 24,5.715 '/%3E%3C/svg%3E%0A");
    }
}
