.focal-point-preview {
    display: block;
    margin-left: 2rem;

    h4 {
        margin-top: 0;
    }

    .preview-container {
        display: flex;

        img {
            position: absolute;
        }

        &:first-of-type {
            margin-bottom: 1rem;
        }

        &-dimension {
            overflow: hidden;
            position: relative;

            img {
                transition: 0.3s cubic-bezier(0.13, 0.62, 0.11, 0.99) 0s;
            }

            + .preview-container-dimension {
                margin-left: 1.3rem;
            }
        }
    }
}
