.modal-content {
    display: flex;
    .focal-point-position {
        font-weight: 700;
    }
}
.focal-point-grid {
    .image-container {
        display: flex;
        position: relative;
        width: 21.875rem;
        height: 21.875rem;
        justify-content: center;
        background-color: rgb(229, 235, 237);

        .focal-point-wrapper {
            align-self: center;
            display: flex;
            max-width: 100%;
            max-height: 100%;
            outline: 0;
            position: relative;

            &.w-100 {
                width: 100%;
            }

            &.h-100 {
                height: 100%;
            }
        }

        img {
            max-width: 100%;
            max-height: 100%;
            align-self: flex-start;
        }

        .focal-overlay {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
        }
    }
}
